/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: rgb(18,18,18);
    color: white;
}

/* ================= APP LAYOUT ================= */
.AppLayout {
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

/* ================= HEADER ================= */
header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    color: rgb(59,206,135);
    text-shadow: 0px 0px 50px;
    background-color: rgb(18,18,18);
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 7px;
    padding: 16px 24px;
    font-size: 1.5rem;
    display: flex;
    gap: 14px;
    align-items: center;
}

footer {
    background-color: rgb(30, 30, 30);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: rgb(230, 230, 230);
    text-align: center;
    padding: 12px;
    font-size: 16px;
}

/* ================= COMMON PAGE ================= */
.page {
    padding: 40px 20px;
}

.title {
    color: rgb(59, 206, 135);
    text-shadow:0px 0px 25px;
    font-size: 28px;
    margin-bottom: 16px;
}

.desc {
    color: #afafaf;
    line-height: 1.6;
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    text-align: center;
}

.home-hint {
    color: black;
    margin-top: 10px;
    background-color: rgb(190, 190, 190);
    text-decoration: none;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}
.home-hint:hover{
    background-color: white;
}

.Link {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.2s ease;
}

.Link:hover {
    color: white;
}

.auth-page {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 50px;
}

.auth-left {
    padding: 20px;
    display: flex;
    max-width: 50%;
    flex-direction: column;
    justify-content: start;
    gap: 40px;
}

.auth-right {
    flex-grow: 0;
    height: 100%;
    flex-shrink: 1;
    min-width: 400px;
    background-color: rgb(25,25,25);
    color: rgb(200, 200, 200);
    padding: 20px 40px;
    border: 2px solid rgb(83, 83, 83);
    border-radius: 10px;
}

.auth-right h2 {
    color: rgb(2, 167, 87);
    text-shadow: 0px 0px 30px;
    margin-bottom: 16px;
    text-align: center;
}

.auth-right form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-right label {
    font-size: 14px;
}

.auth-right input {
    padding: 10px;
    border: 2px solid #ccc;
    background-color: rgb(20,20,20);
    color: white;
    border-radius: 6px;
}

.auth-right input[type="submit"],button {
    background-color:rgba(59, 206, 135, 0.3);
    color: white;
    border: 1px solid rgb(59, 206, 135);
    cursor: pointer;
    border-radius: 10px;
}
.auth-right input[type="submit"],button:hover{
    background-color: rgb(59, 206, 135,0.6);
}

.auth-switch{
    margin-top: 12px;
    display: flex;
}

.error{
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: rgba(255, 0, 0, 0.3);
    border: 1px solid red;
    border-radius: 4px;
}

@media (max-width: 768px) {
    header{
        font-size: 1.2rem;
        padding: 14px 18px;
    }
    .auth-page {
        flex-direction: column;
        align-items: center;
    }
    .auth-left{
        max-width: 100%;
    }
    .auth-right{
        min-width: 300px;
    }
}

.greet {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.greet button{
    padding: 12px;
}
.greet p{
    font-size: 25px;
    font-weight: 600;
}
.upload {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

.files {
    width: 100%;
    height: 100%;
    max-width: 700px;
    border-collapse: collapse;
}

.files td {
    padding: 10px;
    border-bottom: 1px solid rgb(150,150,150    );
}

.icon{
    font-size: 14px;
    font-size: 20px;
    cursor: pointer;
}

.icon:hover{
    scale: 1.2;
}

.files tr{
    background-color: rgb(30, 30, 30);
}

.files tr:hover {
    background-color: rgb(40,40,40);
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: start;
}

.upload-form input[type="file"] {
    display: none;
}

.label {
    font-size: 150px;
    cursor: pointer;
    color: rgb(100, 100, 100);
}

.label:hover {
    color: rgb(150, 150, 150);
}

.file-name {
    max-width: 160px;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.upload-form input[type="submit"] {
    padding: 10px 14px;
    font-weight: bold;
    background-color: rgb(59, 206, 135,0.5);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.upload-form input[type="submit"]:disabled{
    cursor: not-allowed;
    background-color: rgb(59, 206, 135, 0.2);
}

@media (max-width:600px) {
    .upload {
        flex-direction: column;
    }

    .upload-form {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 12px;
    }
}
.message{
    font-size: 20px;
    font-weight: 550;
    color: #aa8bff ;
    text-align: center;
    align-self: center;
}

.loading{
    border: 7px solid rgb(118, 118, 118);
    border-top: 7px solid rgb(59, 206, 135);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate{
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}